/* NAVIGATION SECTION! */
*{
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}
body{
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
a{
    color: #191919;
    text-decoration: none;
}
ul{
    list-style: none;
}
.nav{
    background: #ffffff;
    min-height: 50px;
}
.nav .right{
    float: right;
    margin-right: 1em;
}
.nav .right li{
    border-bottom: 1px solid #f2f2f2;
    font-size: 14px;
    float: right;
}
.nav .right li a{
    display: block;
    padding: 9px 15px;
    line-height: 30px;
}
.nav .right li a:hover{
    background: #f2f2f2;
    float: left;
}

.toggle-nav{
    display: none;
}

.nav-mobile style{
    display: inline-block;
}


@media only screen and (max-width: 640px){
    .nav{
        border-bottom: 1px solid rgba(0,0,0,0.1);
    }

    .toggle-nav{
        display: block;
        padding: 10px;
        position: absolute;
        right: 10px;
        line-height: 30px;
    }
    .toggle-nav:after{
        content: ' Menu';
    }

    .nav-mobile{
        display: none;
    }

    .style-mobile{
        background: #ffffff;
        top : 51px;
        position : absolute;
        width : 100%;
    }

    .style-mobile li{
        display: block;
        width: 100%;
    }

    .nav .right{
        display: block;
        float: none;
        margin: 0em;
    }

    .nav .left{
        display: block;
        float: none;
        margin: 0em;
    }
}

@media only screen and (min-width: 641px){
    .nav-mobile {
        display:block !important;
    }
}




/*LANDING SECTION*/
body{
  background-color: black;
}
.callout{
  background-color: #4caf50;
  height: 900dp;
}
.row p{
  padding-left: 50px;
  padding-right: 30px;
}
.left img{
  background-size: cover;

}
#btncol{
  background-color: #555555;
  border-radius: 12px;
  padding: 15px 32px;
}

.text {
  color: floralwhite;
  text-align: left;
  height: auto;
  margin-top: 33%;
}
.body{
  background-image: url(../img/use.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.right span{
  color: floralwhite;
}

.right-bottom {
    float: right;
    width: 700px;
    text-align: center;
  }
  .le {
      float: left;
      width: 350px;
      background-color: darkgray;
      height: 80px;
  }
  .ri {
      float: right;
      width: 350px;
      background-color: darkslategrey;
      height: 80px;
  }
  .now {
      width: 100%;
      background-color: darkslategrey;
      height: 80px;
  }
.skills img{
  margin: 30px;
  display: inline-block;
}
.skills h4{
  color: floralwhite;
}

@media only screen and (max-width: 641px){
    .text p {
      margin-top: 50%;

    }
}

@media only screen and (max-width: 641px){
    #indeximg p {
      margin-top: 33%;

    }
}

@media only screen and (max-width: 641px){
    #buttan {
      padding: 15px 25px;

    }
}
